.task-form{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    align-content: center;
    gap:1.5rem;
    margin-top: 3rem;
    transition: 0.3s ease;
}
.form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.control{
    display: flex;
    flex-direction: row;
    gap:3rem;
    width:30rem;
}
.task-form > input{
    height: 3rem;
    padding-left: 0.4rem;
    background: transparent;
    border-radius: 8px;
    border-color: rgb(218, 217, 216);
    width:30rem;
}
.task-form > button{
    border: none;
    background: transparent;
    background-color: rgba(4, 22, 140, 0.919);
    height: 3rem;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 8px;
    width:30rem;
}

select{
    width:30rem;
    height: 3rem;
    font-weight: 500;
}